 
 
 <div
       class="bs-toast toast fade bg-success hide toast-placement-ex top-5 end-0"
       role="alert"
       aria-live="assertive"
       aria-atomic="true"
       data-bs-dismiss="toast"
        style="cursor: pointer;"
         data-delay="3000"
         data-bs-autohide="true" 
         data-bs-delay="3000"
             >
                        <div class="toast-header">
                          <i class="bx bx-bell me-2"></i>
                          <div class="me-auto fw-semibold">Thêm sản phẩm</div>
                      <!--<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>-->
                        </div>
                        <div class="toast-body">
                            Thêm sản phẩm thành công
                        </div>
                      </div>

    
      <div
       class="bs-toast toast toast-danger fade bg-danger hide toast-placement-ex top-5 end-0"
       role="alert"
       aria-live="assertive"
       aria-atomic="true"
       data-bs-dismiss="toast"
        style="cursor: pointer;"
         data-delay="3000"
         data-bs-autohide="true" 
         data-bs-delay="3000"
             >
                        <div class="toast-header">
                          <i class="bx bx-bell me-2"></i>
                          <div class="me-auto fw-semibold">Thêm sản phẩm</div>
                          <!--<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>-->
                        </div>
                        <div class="toast-body">
                          <p id="toast-message"></p>
                        </div>
                      </div>
    
    <div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Sản phẩm /</span>Thêm sản phẩm</h4>
     <form id="formAccountSettings" method="post" asp-controller="ProductList" asp-action="AddProductList">
    <div class="d-flex justify-content-between align-items-start mb-3">
       <div class="nav nav-pills">
        <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-cart-alt me-1"></i>Sản phẩm</a>
     </div>
     </div>
     <div class="card mb-3">
      <h5 class="card-header">Thông tin sản phẩm</h5>
        <hr class="my-0">
    <div class="card-body">
         <div class="mb-3">
                <label class="form-label">Chọn phương thức</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="inputOption" id="linkOption" value="link" checked>
                    <label class="form-check-label" for="linkOption">
                        Nhập Link sản phẩm
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="inputOption" id="fileOption" value="file">
                    <label class="form-check-label" for="fileOption">
                        Upload File Excel
                    </label>
                </div>
            </div>
       <div class="mb-5" id="linkInputGroup">
                <label for="linkInput" class="form-label">Nhập đường link sản phẩm</label>
                <input type="url" class="form-control" id="linkInput" placeholder="https://amazon.com" pattern="https?://.*">
                <div class="invalid-feedback">
                   Đường Link không hợp lệ
                </div>
                <label for="linkCategory" class="form-label mt-2">Loại sản phẩm</label>
                <select class="form-select" id="linkCategory1" name="category">
                    <option value="" disabled selected>Chọn loại sản phẩm</option>
                    <option value="t-shirt">T-Shirt</option>
                    <option value="video">Video</option>
                    <option value="website">Website</option>
                    <option value="other">Other</option>
                </select>
                <div class="invalid-feedback">
                    Cần chọn loại sản phẩm
                </div>
            </div>
           <div class="mb-7 d-none" id="fileInputGroup">
                <label for="fileInput" class="form-label">Upload File Excel</label>
                <input type="file" class="form-control" id="fileInput">
                <div class="invalid-feedback">
                Chọn file không hợp lệ
                </div>
                <label for="fileCategory" class="form-label mt-2">Loại sản phẩm</label>
                <select class="form-select" id="linkCategory2" name="category" >
                    <option value="" disabled selected>Chọn loại sản phẩm</option>
                    <option value="t-shirt">T-Shirt</option>
                    <option value="image">Image</option>
                    <option value="video">Video</option>
                    <option value="other">Other</option>
                </select>
                <div class="invalid-feedback">
                    Cần chọn loại sản phẩm
                </div>
            </div>
             <div class="text-center">
            <button type="submit" class="btn btn-primary text-center">Thêm sản phẩm</button>
            </div>
    </div>
     </div>
     </form>
    </div>
    </div>

    <script>
    document.addEventListener("DOMContentLoaded",()=>
    {
      const linkOption = document.getElementById("linkOption");
      const fileOption = document.getElementById("fileOption");
      const linkInputGroup = document.getElementById("linkInputGroup");
      const fileInputGroup = document.getElementById("fileInputGroup");
      const input_link = document.getElementById("linkInput");
      const input_file = document.getElementById("fileInput");
      const link_category_1 = document.querySelector("#linkCategory1");
      const link_category_2 = document.querySelector("#linkCategory2");s
      const form = document.getElementById("formAccountSettings");
      linkOption.addEventListener('change',()=>{
     if(linkOption.checked)
      {
        linkInputGroup.classList.remove("d-none");
        fileInputGroup.classList.add("d-none");
        input_file.value=null;
        link_category_2.selectedIndex=0;
      }
      })
      fileOption.addEventListener('change',()=>{
        if(fileOption.checked)
      {
        linkInputGroup.classList.add("d-none");
        fileInputGroup.classList.remove("d-none");
        input_link.value="";
        link_category_1.selectedIndex=0;
      }
      });

     form.addEventListener("submit",()=>
     {
      event.preventDefault();
      const formData = new FormData();
      if(linkOption.checked)
      {
        const link = input_link.value;
        const category = document.getElementById("linkCategory1").value;
        formData.append("link",link);
        formData.append("category",category);
      }
      else
      {
        const file = input_file.files[0];
        const category = document.getElementById("linkCategory2").value;
        formData.append("file",file);
        formData.append("category",category);
      }
     $.ajax({  
                url: '@Url.Action("GetSampleData", "ProductList")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false, 
                success:function(response)
                { 
                  var status=response.status;
                  var message=response.message;
                  if(status== -1 || status==0)
                  {
                document.getElementById("toast-message").innerHTML=message;
                var toastEl = document.querySelector('.toast-danger');
                var toast = new bootstrap.Toast(toastEl);
                toast.show();
                }

                else{
                  var toastEl = document.querySelector('.toast');
                var toast = new bootstrap.Toast(toastEl);
                toast.show(); 
                }
                },
                error: function (xhr, status, error) {
                  alert(error);
                  alert(error.message);
                 document.getElementById("toast-message").innerHTML=error;
                var toastEl = document.querySelector('.toast-danger');
                var toast = new bootstrap.Toast(toastEl);
                toast.show();            
              }
            });
     });
    });

    </script>