
@model StaticFile
@{
   var updated_page=ViewBag.Updated_Message;
   var update_status=ViewBag.Status;
}

@if(update_status==0 ||update_status==-1)
    {
      <div
       class="bs-toast toast fade hide bg-danger toast-placement-ex top-5 end-0"
       role="alert"
       aria-live="assertive"
       aria-atomic="true"
        data-bs-dismiss="toast"
        style="cursor: pointer;"
         data-delay="3000"
         data-bs-autohide="true" 
         data-bs-delay="3000"
             >
                        <div class="toast-header">
                          <i class="bx bx-bell me-2"></i>
                          <div class="me-auto fw-semibold">Cập nhật trang</div>
                          <!--<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>-->
                        </div>
                        <div class="toast-body">
                         @updated_page
                        </div>
                      </div>
                        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var toastEl = document.querySelector('.toast');
                var toast = new bootstrap.Toast(toastEl);
                toast.show();
            });
        </script>
    }

@if(update_status==1)
{ 
    <div
       class="bs-toast toast fade hide bg-success toast-placement-ex top-5 end-0"
       role="alert"
       aria-live="assertive"
       aria-atomic="true"
        data-bs-dismiss="toast"
        style="cursor: pointer;"
         data-delay="3000"
         data-bs-autohide="true" 
         data-bs-delay="3000"
             >
                        <div class="toast-header">
                          <i class="bx bx-bell me-2"></i>
                          <div class="me-auto fw-semibold">Cập nhật trang</div>
                          <!--<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>-->
                        </div>
                        <div class="toast-body">
                         @updated_page
                        </div>
                      </div>
                <script>
            document.addEventListener('DOMContentLoaded', function() {
                var toastEl = document.querySelector('.toast');
                var toast = new bootstrap.Toast(toastEl);
                toast.show();
            });
        </script>
}
    

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
    <!-- Layout wrapper -->
  

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Trang tĩnh/</span>Thông tin trang</h4>
              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                      <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-grid me-1"></i>Thông tin trang</a>
                    </li>     
                  </ul>
                  <div class="card mb-4">
                    <h5 class="card-header">Thông tin trang tĩnh</h5>
                    <div class="card-body">
                      <form id="formAccountSettings" method="post" asp-controller="StaticFiles" asp-action="StaticFilesInfo">
                        <div class="row mb-3">
                          <div class="mb-3 col-md-6">
                            <input id="id" type="hidden" name="id" value="@Model?.Id"/>
 
                            <label for="username" class="form-label mb-2">Tên trang:</label>
                            <input
                              class="form-control"
                              type="text"
                              id="filename"
                              name="filename"
                              autofocus
                              value="@Model?.Filename"
                              placeholder="Nhập tên trang"
                            />
                          <span id="file-name-error" class="text-danger"></span>
                          </div>
                     
                        </div>
                        <div class="row mb-3">
                                <div class="mb-3 col-md-6">
                        <label class="mb-2">Nội dung:</label>
                          <textarea id="content" name="content" value="@Model?.Content">@Model?.Content</textarea>
                          </div>
                        </div>
                        <div class="mt-2 d-flex flex-row justify-content-md-start justify-content-sm-between">
                          <button type="submit" class="btn btn-primary me-4">Cập nhật trang</button>
                          <button type="button" class="btn btn-primary" type="button" id="back-btn">Trở lại danh sách trang tĩnh</button>
                        </div>
                      </form>

                    </div>
                    <!-- /Account -->
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
          
            <div class="content-backdrop fade"></div>
          </div>
      <div class="layout-overlay layout-menu-toggle"></div>
<script>

 document.addEventListener("DOMContentLoaded",()=>{
 
  new FroalaEditor('#content',
  {
      heightMin: 300,
      toolbarButtons: ['bold', 'italic', 'underline', '|','color', 'backgroundColor', 'insertTable', 'undo', 'redo'],
      pluginsEnabled: ['table','colors'],
      colorsBackground: ['#FFFFFF', '#FF0000', '#00FF00', '#0000FF', '#FFFF00'],
      colorsText: ['#000000', '#FF0000', '#00FF00', '#0000FF', '#FFFF00'] 
  });
 });

 document.getElementById("formAccountSettings").addEventListener("submit",()=>{
  
  var is_valid=true;

  var file_name=document.getElementById("filename").value.trim();

  if(file_name==='')
  {
    is_valid=false;
    document.getElementById("file-name-error").innerHTML='Không được để trống thông tin này';
  }

  if(!is_valid)
  {
    event.preventDefault();
  }  
 });



  document.getElementById('back-btn').addEventListener("click",()=>
  {
   let cat_id=document.getElementById("back-btn").getAttribute("data-cat-id");
   var url='@Url.Action("StaticFiles","StaticFiles")';
   window.location.href=url;
  });


</script>
