   
   @{
  string url="";
  if(this.ViewContext.HttpContext.Session.GetString("UserSession")!=null)
  {
    url="/admin/dashboard";
  }
  else
  {
  url="/admin/login";
  }
 } 
   <div class="container-xxl container-p-y">
      <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Hệ thống đang bảo trì!</h2>
        <p class="mb-4 mx-2">Xin lỗi vì sự bất tiện này,vui lòng quay lại sau</p>
        @* <a href="@url" class="btn btn-primary">Trở lại trang chủ</a> *@
        <div class="mt-4">
          <img
            src="~/img/illustrations/girl-doing-yoga-light.png"
            alt="girl-doing-yoga-light"
            width="500"
            class="img-fluid"
            data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
            data-app-light-img="illustrations/girl-doing-yoga-light.png"
          />
        </div>
      </div>
    </div>