
<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
@{
   var created_user=ViewBag.Created_User;
   var create_status=ViewBag.Status;
}


@if(create_status==0 || create_status==-1)
    {
      <div
       class="bs-toast toast fade hide bg-danger toast-placement-ex top-5 end-0"
       role="alert"
       aria-live="assertive"
       aria-atomic="true"
        data-bs-dismiss="toast"
        style="cursor: pointer;"
         data-delay="3000"
         data-bs-autohide="true" 
         data-bs-delay="3000"
             >
                        <div class="toast-header">
                          <i class="bx bx-bell me-2"></i>
                          <div class="me-auto fw-semibold">Thêm User</div>
                          <!--<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>-->
                        </div>
                        <div class="toast-body">
                         @created_user
                        </div>
                      </div>
                        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var toastEl = document.querySelector('.toast');
                var toast = new bootstrap.Toast(toastEl);
                toast.show();
            });
        </script>
    }

@if(create_status==1)
{ 
    <div
       class="bs-toast toast fade hide bg-success toast-placement-ex top-5 end-0"
       role="alert"
       aria-live="assertive"
       aria-atomic="true"
        data-bs-dismiss="toast"
        style="cursor: pointer;"
         data-delay="3000"
         data-bs-autohide="true" 
         data-bs-delay="3000"
             >
                        <div class="toast-header">
                          <i class="bx bx-bell me-2"></i>
                          <div class="me-auto fw-semibold">Thêm user</div>
                          <!--<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>-->
                        </div>
                        <div class="toast-body">
                         @created_user
                        </div>
                      </div>
                <script>
            document.addEventListener('DOMContentLoaded', function() {
                var toastEl = document.querySelector('.toast');
                var toast = new bootstrap.Toast(toastEl);
                toast.show();
            });
        </script>
}
    


    <!-- Layout wrapper -->
  

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Khách hàng /</span>Thêm khách hàng</h4>

              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                      <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> Tài khoản</a>
                    </li>
        
                  </ul>
                  <div class="card mb-4">
                <form id="formAccountSettings" method="post" enctype="multipart/form-data" asp-controller="UserList" asp-action="AddUserList">
                    <h5 class="card-header">Thông tin tài khoản</h5>
                    <!-- Account -->
                    <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img
                          src="~/img/avatars/profile.png"
                          alt="user-avatar"
                          class="d-block rounded"
                          height="100"
                          width="100"
                          id="uploadedAvatar"
                        />
                        <div class="button-wrapper">
                          <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                            <span class="d-none d-sm-block" id="upload-btn">Tải ảnh</span>
                            <i class="bx bx-upload d-block d-sm-none"></i>
                            <input
                              type="file"
                              id="upload"
                              name="avatar"
                              class="account-file-input"
                              hidden
                              accept="image/png, image/jpeg"
                            />
                          </label>
                          <button type="button" class="btn btn-outline-secondary account-image-reset mb-4" id="delete-avatar">
                            <i class="bx bx-reset d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Xoá ảnh</span>
                          </button>

                          <p class="text-muted mb-0">Cho phép upload ảnh có định dạng JPG,PNG</p>
                        </div>
                      </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="username" class="form-label">Username</label>
                            <input
                              class="form-control"
                              type="text"
                              id="username"
                              name="username"
                              autofocus
                              placeholder="Nhập tên user"
                            />
                          <span id="username-error" class="text-danger"></span>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">E-mail</label>
                            <input class="form-control" type="email" name="email" id="email" value="" placeholder="Nhập Email" />
                            <span id="email-error" class="text-danger"></span>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="phone" class="form-label">Số điện thoại</label>
                            <input
                              class="form-control"
                              type="text"
                              id="phone"
                              name="phonenumber"
                              value=""
                              placeholder="Nhập số điện thoại"
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="gender" class="form-label">Giới tính</label>
                        <select class="select2 form-select" name="gender">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                            <option value="Khác">Khác</option>
                        </select>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label" for="address1">Địa chỉ 1</label>
                            <div class="input-group">
                              <input
                                type="text"
                                id="address1"
                                name="address1"
                                class="form-control"
                                placeholder="Nhập địa chỉ 1"
                              />
                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="address2" class="form-label">Địa chỉ 2</label>
                            <input type="text" class="form-control" id="addres2s" name="address2" placeholder="Nhập địa chỉ 2" />
                          </div>
                          <div class="mb-3 col-md-6 form-password-toggle">
                            <label for="password" class="form-label">Mật khẩu</label>
                        <div class="input-group input-group-merge">
                            <input class="form-control" type="password" id="password" name="password" placeholder="Nhập mật khẩu" aria-describedby="password"/>
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                         <span id="password-error" class="text-danger"></span>
                          </div>
                          <div class="mb-3 col-md-6 form-password-toggle">
                            <label for="confirmPassword" class="form-label">Xác nhận mật khẩu</label>
                            <div class="input-group input-group-merge">
                            <input
                              type="password"
                              class="form-control"
                              id="confirmPassword"
                              name="confirmPassword"
                              placeholder="Nhập lại mật khẩu"
                            />
                         <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>

                            </div>
                             <span id="confirm-password-error" class="text-danger"></span>
                          </div>
                        </div>
                        <div class="mt-2">
                          <button type="submit" class="btn btn-primary me-2">Tạo tài khoản</button>
                        </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
           
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        <!-- / Layout page -->
<script>
 document.getElementById("formAccountSettings").addEventListener("submit",()=>{
  var is_valid=true;
  var username=document.getElementById("username").value.trim();
  var email = document.getElementById("email").value.trim();
  var password = document.getElementById("password").value.trim();
  var confirmPassword = document.getElementById("confirmPassword").value.trim();
  var regex_pattern=/^(?=.*[A-Z])(?=.*\d)(?=.*[!@@#$%^&*(),.?":{}|<>]).{8,}$/;
  if(username==='')
  {
    is_valid=false;
    document.getElementById("username-error").innerHTML='Không được để trống thông tin này';
  }
  if(email==='')
  {
    is_valid=false;
    document.getElementById("email-error").innerHTML="Không được để trống thông tin này";
  }
  if(password==='')
  {
    is_valid=false;
    document.getElementById("password-error").innerHTML="Không được để trống thông tin này";
  }
  if(confirmPassword=='')
  {
    is_valid=false;
    document.getElementById("confirm-password-error").innerHTML="Không được để trống thông tin này";
  }
  if(!regex_pattern.test(password))
  {is_valid=false;
   document.getElementById("password-error").innerHTML="Mật khẩu cần có ít nhất một ký tự in hoa,1 ký tự thường và bao gồm số và ký tự đặc biệt";
  }
 else{
  if(password!=confirmPassword && confirmPassword!='')
  {is_valid=false;
    document.getElementById("confirm-password-error").innerHTML="Không trùng khớp với mật khẩu";
  }
  }
  if(!is_valid)
  {
    event.preventDefault();
  }  
 });

  document.getElementById("upload").addEventListener("change",()=>
  {
    var image_input=document.getElementById("upload");
    var image_hoder=document.getElementById("uploadedAvatar");
    const file=image_input.files[0];
    if(file)
    {
     const reader = new FileReader();
     reader.onload=(e)=>{
        image_hoder.src=e.target.result;
     }
     reader.readAsDataURL(file);
    }
  });

  document.getElementById("delete-avatar").addEventListener("click",()=>
  {
   var image_holder = document.getElementById("uploadedAvatar");
   var img_file='https://cdn-icons-png.flaticon.com/128/3135/3135715.png';
   image_holder.src=img_file;
   @* var curr_folder=process.cwd();
   alert(curr_folder); *@
  });

</script>
