@{
    Layout="_UserLayout";
    string content=ViewBag.content;
    var categories=ViewBag.categories as List<Category>;
}
<div class="page-content">
<div class="d-flex justify-content-center align-items-center min-vh-80">
    <div class="text-center">
        @Html.Raw(content)
    </div>
</div>
</div>
