 @{
    Layout = "_UserLayout";
}
 
 <div
       class="bs-toast toast fade bg-success hide toast-placement-ex top-5 end-0"
       role="alert"
       aria-live="assertive"
       aria-atomic="true"
       data-bs-dismiss="toast"
       style="cursor: pointer; position: fixed; top: 20px; right: 20px; z-index: 1050;"
         data-delay="3000"
         data-bs-autohide="true" 
         data-bs-delay="3000"
             >
                        <div class="toast-header">
                          <i class="bx bx-bell me-2"></i>
                          <div class="me-auto fw-semibold" id="toast-title"></div>
                        </div>
                        <div class="toast-body" id="toast-message">
                        </div>
                      </div>
      <div
       class="bs-toast toast toast-danger fade bg-danger hide toast-placement-ex top-5 end-0"
       role="alert"
       aria-live="assertive"
       aria-atomic="true"
       data-bs-dismiss="toast"
       style="cursor: pointer; position: fixed; top: 20px; right: 20px; z-index: 1050;"
       data-delay="3000"
         data-bs-autohide="true" 
         data-bs-delay="3000"
             >
                        <div class="toast-header">
                          <i class="bx bx-bell me-2"></i>
                          <div class="me-auto fw-semibold" id="toast-title-error"></div>
                          <!--<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>-->
                        </div>
                        <div class="toast-body" id="toast-message-error">                          
                        
                        </div>
                      </div>

      


 <div class="page-banner-area page-banner-height-2" data-background="@Url.Content("~/user_layout/img/banner/page-banner-4.jpg")">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-banner-content text-center">
                            <h4 class="breadcrumb-title">Quên mật khẩu</h4>
                            <div class="breadcrumb-two">
                                <nav>
                                   <nav class="breadcrumb-trail breadcrumbs">
                                      <ul class="breadcrumb-menu">
                                         <li class="breadcrumb-trail">
                                            <a href="index.html"><span>Trang chủ</span></a>
                                         </li>
                                                <li class="breadcrumb-trail">
                                            <a href="@Url.Action("MyAccount","MyAccount")"><span>Tài khoản</span></a>
                                         </li>
                                         <li class="trail-item">
                                            <span>Quên mật khẩu</span>
                                         </li>
                                      </ul>
                                   </nav> 
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-banner-area-end -->

        <!-- account-area-start -->
        <div class="account-area mt-70 mb-70">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center">
                     <div class="col-lg-4 col-md-4">
                        <div class="basic-login mb-50">
                            <h4>Quên mật khẩu</h4>
                            <form id="signinForm" method="POST" asp-action="MyAccount" asp-controller="MyAccount">
                                <label for="email">Email<span>*</span></label>
                                <input id="email" name="email" type="email" placeholder="Nhập email của bạn...">
                                <span class="text-danger" id="email-error"></span><br>
                             <button  class="tp-in-btn w-100 mb-4" type="button" onclick="submitForm('signinForm')">Gửi</button>
                            </form>
                        </div>
                </div>
                </div>
            </div>
        </div>
        <!-- account-area-end -->

        <!-- cta-area-start -->
      

<script>
  function submitForm(formId)
   {
      var is_valid=true;

      let action="";

 if(formId=="signinForm")
 {
    var email=document.getElementById("email").value;

    action="ForgotPasswordHandle";
    if(email=="")
    { is_valid=false;
      document.getElementById("email-error").innerHTML="Email không được để trống";
    }
 }
 
    if(!is_valid)
    {
      event.preventDefault();
    }
else
{
  let formDataVal=new FormData(document.getElementById(formId));
  var url='@Url.Action("_action","MyAccount")';
  url=url.replace("_action",action);

   $.ajax({  
                url: url,
                type: 'POST',
                data: formDataVal,
                contentType: false,
                processData: false, 
                success:function(response)
                { 
                  var status=response.status;
                  var message=response.message;
                  var title=response.title;
                  var sitekey=response.siteKey;
                    if(sitekey!=null && siteKey!=undefined)
                    {  
                       var siteKey= document.getElementById("sitekey");
                      siteKey.setAttribute("data-sitekey",sitekey);
                      grecaptcha.reset();
                    }

                  if(status==-1 || status==0)
                  {
                   document.getElementById("toast-title-error").innerHTML=title;
                 document.getElementById("toast-message-error").innerHTML=message;
                var toastEl = document.querySelector('.toast-danger');
                var toast = new bootstrap.Toast(toastEl);
                toast.show();
                }

                else{
                 document.getElementById("toast-title").innerHTML=title;
                document.getElementById("toast-message").innerHTML=message;
                  var toastEl = document.querySelector('.toast');
                var toast = new bootstrap.Toast(toastEl);
                toast.show(); 
                }
                },
                error: function (xhr, status, error) {
                document.getElementById("toast-title-error").innerHTML="Lỗi xử lý";
                 document.getElementById("toast-message-error").innerHTML=error;
                var toastEl = document.querySelector('.toast-danger');
                var toast = new bootstrap.Toast(toastEl);
                toast.show();            
              }
            });
   }
   }
   

  document.addEventListener("DOMContentLoaded",()=>{


  document.getElementById("email").addEventListener("keydown",(event)=>{
      var email_error=document.getElementById("email-error").value;
      if(email_error!="")
      {
        document.getElementById("email-error").innerHTML="";
      }
    });
    
   
  });  
</script>